---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header';
import Card from '../components/Card';

const allPosts = await getCollection('posts');

allPosts.sort((a, b) => {
  if (a.data.order && b.data.order) {
    return a.data.order - b.data.order;
  } else if (a.data.order && !b.data.order) {
    return -1;
  } else if (!a.data.order && b.data.order) {
    return 1;
  } else {
    return 0;
  }
});

const pageTitle = 'Portfolio | Christopher Lee';
---

<BaseLayout pageTitle={pageTitle}>
  <Header />

  <div class="mt-16">
    {
      allPosts.map((stub) => (
        <Card
          title={stub.data.title}
          keywords={stub.data.keywords}
          links={stub.data.links}
          description={stub.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
