---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header';
import Card from '../components/Card';

const allPosts = await Astro.glob('./posts/*.md');

allPosts.sort((a, b) => {
  if (a.frontmatter.order && b.frontmatter.order) {
    return a.frontmatter.order - b.frontmatter.order;
  } else if (a.frontmatter.order && !b.frontmatter.order) {
    return -1;
  } else if (!a.frontmatter.order && b.frontmatter.order) {
    return 1;
  } else {
    return 0;
  }
});

const pageTitle = 'Portfolio | Christopher Lee';
---

<BaseLayout pageTitle={pageTitle}>
  <Header />

  <div class="mt-16">
    {
      allPosts.map((post) => (
        <Card
          title={post.frontmatter.title}
          keywords={post.frontmatter.keywords}
          links={post.frontmatter.links}
          description={post.frontmatter.description}
        />
      ))
    }
  </div>
</BaseLayout>
