---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header';
import Card from '../components/Card';

const allPosts = await getCollection('posts');
allPosts.sort((a, b) => a.data.order - b.data.order);

const pageTitle = 'Christopher Lee | Astro';
---

<BaseLayout pageTitle={pageTitle}>
  <Header />

  <div class="mt-16">
    {
      allPosts.map((stub) => (
        <Card
          title={stub.data.title}
          keywords={stub.data.keywords}
          links={stub.data.links}
          description={stub.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
