---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header';
import Card from '../components/Card';
import metadata from './posts/_metadata.json';

const allPosts = await Astro.glob('./posts/*.md');

const pageTitle = metadata.siteTitle;
---

<BaseLayout pageTitle={pageTitle}>
  <Header
    title={metadata.title}
    subtitle={metadata.subtitle}
    subsubtitle={metadata.subsubtitle}
    description={metadata.description}
    links={metadata.links}
  />

  <div class="mt-16 flex flex-col">
    {
      allPosts.map((post) => (
        <Card
          client:load
          title={post.frontmatter.title}
          keywords={post.frontmatter.keywords}
          links={post.frontmatter.links}
          description={post.frontmatter.description}
          content={post.rawContent()}
          className={
            typeof post.frontmatter.order !== 'number'
              ? 'order-last'
              : post.frontmatter.order <= 0
                ? 'order-first'
                : `order-${post.frontmatter.order}`
          }
        />
      ))
    }
  </div>
</BaseLayout>
